.TOC{
  padding: 13px;
  margin-top:20px;
  width: 100%;
  height:30px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.radio-items{
  display: inline;
  width:50%;
  float:left;
}

.TOC input[type=="radio"]:before{
  border-radius: 50%;
  width: 10px;
  box-shadow: 0 0 0 2px red;
}
