<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <title>Register Complaint</title>
  </head>
  <body>
    <form method="post" action={{target}}>
      <input type="text" name="comHeader" placeholder="Add Department Incharge"></input>
      <input type="text" name="comContent" placeholder="Add Complaint here"></input>
      <input type="text" name="comFooter" placeholder="Add Urgency Level"></input>
      <button type="submit">POST</button>
    </form>
  </body>
</html>
