<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="newCollegeRegistration.css"></link>

    <title>College Registration</title>
</head>
<body>

<main class="my-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card">
                        <div class="card-header heading">College Registration</div>
                        <div class="card-body">
                            
                            <form name="my-form" action="/registercollege" method="POST">
                                <div class="form-group row">
                                    <label for="collegeName" class="col-md-4 col-form-label text-md-right">College Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="collegeName" class="form-control" name="collegeName" required="required">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="university" class="col-md-4 col-form-label text-md-right">University Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="university" class="form-control" name="university" required="required">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="domain" class="col-md-4 col-form-label text-md-right">College Domain</label>
                                    <div class="col-md-6">
                                        <input type="text" id="domain" class="form-control" name="domain" required="required">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" placeholder="@" class="col-md-4 col-form-label text-md-right">Official Email Id of Incharge</label>
                                    <div class="col-md-6">
                                        <input type="email" id="email" class="form-control" name="email" required="required">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="pwd" class="form-control" name="pwd" required="required">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="confirmPassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="confirmpwd" class="form-control" name="confirmpwd" required="required">
                                    </div>
                                </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
