<!DOCTYPE html>
<html>
    <body>
        <form action="/studentRegister" method="POST">
            <h3>New Student Register<h3><br>
            Enter Name: 
            <input type="text" id="userName"><br>
            Enter Email ID:
            <input type="text" id="userEmail"><br>
            Enter University:
            <input type="text" id="userUniversity"><br>
            Enter College:
            <input type="text" id="userCollege"><br>
            Enter GR No.
            <input type="text" id="userGrNo"><br>
            Enter Mobile Number:
            <input type="text" id="userMobile"><br>   
            Enter password: 
            <input type="text" id="userPassword"><br>
            Confirm password:
            <input type="text" id="userConfirmPassword"><br> 
            <input type="submit" value="Submit">
        </form><br>
    </body>
</html>