.Publiccontainer {
  display: flex;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 20px;
  border-color: #322c42;
  padding: 1px 5px 1px 5px;
}

.button {
  display: flex;
  width: 75%;
  height: 60px;
  background: #ff9f9f;
  box-sizing: border-box;
  border: 0.5px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  border-radius: 10px;
}

.content {
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  align-items: left;
  color: black;
  padding: 10px;
}

.growth {
  height: 30px;
  width: 30px;
  margin-left: auto;
}
.signedBy {
  display: flex;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: black !important;
}

.icon {
  display: flex;
  height: 30px;
  width: 30px;
  padding: 0px 2px 0px 2px;
}

.modalHeader {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  color: #000000;
  padding: 0px 5px 0px 5px;
}

.date {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  color: #000000;
  padding: 0px 5px 0px 40px;
}

.modalBody {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
}

.modalSolution {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
}

.signUp {
  display: flex;
  height: 50px;
  width: 80px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  background: #c2eba5;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.alignthis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: black;
}

.committeeButton {
  height: 50px;
  width: 200px;
  background: #322c42;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}

.solutionText {
  display: flex;
  height: 300px;
  width: 100%;
}
