.styles {
  margin-top: 60px;
  width: 70%;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #00539cff;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-left: 20px;
}
